.chats-btns .table-btn {
  font-weight: var(--font_wt_b);
  font-size: 10px;
  line-height: 16px;
  padding: 8px 12px;
}

/* .users-all {
  width: 30%;
} */
.chats-btns  li.right-li i {
  font-weight: 600;
  font-size: 18px;
  color: #BA8639;
  cursor: pointer;
  margin-top: 5px;
}
.chats-box {
  border: 1px solid #DDDDDD;
  border-radius: 12px;
 
}

.chats-user-a img {
  border-radius: 200px;
  width: 51px;
  height: 51px;
  position: relative;
  object-fit: contain;
}
.user-profile-chats h5 {
  font-weight: var( --font_wt_name);
  font-size: 12px;
  line-height:18px;
  color: var(--color_5);
  margin: 0;
}
.user-profile-chats p {
  font-weight: var(--font_weight);
  font-size: 10px;
  line-height:16px;
  color: var(--color_5);
}

.chats-user-profile .f-12 {
  font-size: var(--font_sab_dis);
  line-height: var(--font_sab_dis_line_height);
  color: var(--color_1);
  font-weight: var(--font_wt_b);
} 
a.chats-user-a {
  position: relative;
}

.chats-circle {
  bottom: 7px;
  font-size: 10px;
  right: 20px;
}

.chats-user-profile { 
  border-radius: 12px;
  padding: 10px 18px;
  transition: 0.6s;
}

.user_chat_online_circle {
  right: 4px !important;
}

/* .chats-user-profile:hover {
  background: rgba(186, 134, 57, 0.1); 
} */

.chats-user-profile.active {
  background: rgba(186, 134, 57, 0.1);
}
.chats-user-profile.active h5 {
  color: var(--color_1);
}
.chats-user-profile.active p {
  color: var(--color_1);
}
.users-all {
  border-right: 1px solid #DDDDDD;
  padding: 10px;
}

.users-chats {
  width: 50%; 
  border-right: 1px solid #DDDDDD;
  padding: 15px;
}
.msg-head h3 {
  font-weight: var(--font_wt_b);
  font-size: 22px;
  line-height: 33px;
  color: var(--color_1);
}
.icon-head-chats a {
  font-weight: var(--font_wt_b);
  font-size: 17px;
  line-height: 33px;
  color: var(--color_1);
  margin: 0 4px;
}
.icon-head-chats a {
  font-weight: var(--font_wt_b);
  font-size: 17px;
  line-height: 33px;
  color: var(--color_1);
  margin: 0 2px; 
  border-radius: 4px;
  transition: 0.6s;
  padding: 5px 9px;
}
.icon-head-chats a:hover { 
  background: rgba(186, 134, 57, 0.1); 
}
.msg-body ul.user-mess .user-box li {
  width: 70%;
}
.msg-body li.reply {
  float: left;
}
.msg-body li.reply-two {
  float: right;
} 
.msg-body .user-box li {
  display: block;
  width: 70%;
  position: relative;
  display: flex;
} 
.msg-body  ul.user-mess li span.bg-f1 {
  margin: 0 10px 0 20px;
  text-align: left;
}
.msg-body  ul.user-mess li.reply-two {
  text-align: right !important;
}
.msg-body .user-box li.reply-two {
  justify-content: end;
}
.msg-body ul.user-mess {
  height: 60vh;
}

.chats-h { 
  overflow-x: hidden;  
  height: 70vh;  
  overflow-y: scroll;
}

.chats-box ::-webkit-scrollbar {
  width: 1px;
}
.chats-box ::-webkit-scrollbar-track {
  background: #fff; 
}
.chats-box ::-webkit-scrollbar-thumb {
  background: #fff; 
}
.msg-body .form-Search input {
  font-size: 12px;
} 
.msg-body {
  position: relative;
  height: 60vh;
}
.send-part .chat_msg_send {
  font-weight: var(--font_wt_b);
  font-size: 18px;
  line-height: 33px;
  color: var(--color_1);
  margin: 0 0 0 8px;
  border-radius: 4px;
  transition: 0.6s;
  border: none;
  padding: 0;
  background: none;
}
.send-part {
  margin-top: 5px;
}
 
.chats-box .users-groups #pills-tab li.nav-item button {
  font-weight: var(--font_weight) !important;
  font-size: 12px !important;
  line-height: var(--font_menu_line_height) !important;
  text-align: center !important;
  color: var(--color_5) !important;
  padding: 7px 2px !important;
  background: #fff !important;
}
/* .users-groups {
  width: 20%;
} */
.chats-box .users-groups #pills-tab li.nav-item button.active {
  border-bottom: solid 4px #BA8639;
  border-radius: 0 !important;
}
.g-text {
  display: flex;
}
.g-text img {
  width: 30px;
  height: 30px;
  border-radius: 106px;
  margin-right: 7px;
  object-fit: contain;
}
.sp-4 {
  padding: 15px;
}
.g-text {
  display: flex;
  font-weight: var(--font_weight);
  font-size: var(--font_title);
  line-height: var(--font_menu_line_height);
  text-align: center;
  color: var(--color_5);
}
.g-text span {
  position: relative;
  top: 4px;
}
.chats-btns {
  padding: 0 0 15px 0;
}

@media (min-width:1600px){ 
.chats-btns .table-btn { 
  font-size: var(--font_title);
  line-height: var(--font_menu_line_height); 
}
.chats-btns  li.right-li i { 
  font-size: 23px; 

}
.user-profile-chats h5 { 
  font-size: var(--font_title);
  line-height: var(--font_menu_line_height); 
}
.user-profile-chats p { 
  font-size: var(--font_sab_dis);
  line-height: var(--font_sab_dis_line_height); 
}
.chats-user-a img { 
  width: 70px;
  height: 70px; 
}
.chats-box .users-groups #pills-tab li.nav-item button {
  margin: 0 7px;
  font-size: 15px !important;
}


}


@media (min-width:992px) and (max-width:1150px) {
  .chats-btns .table-btn { 
    font-size: 8px; 
    padding: 3px 9px;
}
.chats-btns  li.right-li i { 
  font-size: 11px; 
}
.user-profile-chats h5 { 
  font-size: 9px; 
}
.user-profile-chats p { 
  font-size: 8px;
  line-height: 10px; 
}
.chats-user-a img { 
  width: 34px;
  height: 34px; 
  margin-top: 8px;
}
.chats-user-profile .f-12 {
  font-size: 7px;
}
.msg-body ul.user-mess li span.bg-f1 {
  font-size: 8px;
  line-height: 1.1;
}
.msg-head h3 { 
  font-size: 14px; 
}
.icon-head-chats a { 
  font-size: 11px; 
  margin: 0 2px;  
}
.chats-box .users-groups #pills-tab li.nav-item button { 
  font-size: 8px !important; 
}
.g-text {
  font-size: 9px;
}
.send-part a { 
  font-size: 13px; 
  margin: 0 0 0 2px; 
}
.chats-box .users-groups #pills-tab li.nav-item button.active {
  border-bottom: solid 2px #BA8639; 
}

}

@media (max-width:991px){ 
  .chats-box .d-flex {
    display: unset !important;
}
.users-all {
  width: 100%;
}
.users-all {
  border-right: 0px solid #DDDDDD; 
}
.users-chats {
  width: 100%;
  border-right: 0px solid #DDDDDD; 
}
.users-groups {
  width: 100%;
}
.msg-body ul.user-mess {
  height: 55vh;
}
.chats-user-profile {
  max-width: 360px; 
}
.chats-box .users-groups #pills-tab li.nav-item button { 
  font-size: 14px !important; 
  padding: 12px 18px !important; 
}
.sp-4 {
  padding: 10px;
}
.send-part a { 
  font-size: 14px; 
}
.msg-body .user-box li { 
  width: 95%; 
}
.msg-head h3 { 
  font-size: 16px; 
}
.icon-head-chats a { 
  font-size: 14px; 
  padding: 2px 7px;
}

}

@media (max-width:360px){ 
.chats-btns .table-btn { 
  font-size: 10px !important; 
}

}
.chat_file {
  margin-top: -20px;
}

.chat_shared_image {
  width: 150px !important;
  height: 150px !important;
  border-radius: inherit !important;
}
.tab_share_file {
  overflow: scroll;
  height: 60vh;
}
.image_sider_bar img {
  width: 20px;
  height: 20px;
}

.dishes_gallery .fa-pen-to-square {
  top: 10px;
  right: 40px !important;
}

.dishes_gallery .fa-trash {
  top: 10px;
  right: 20px !important;
}