form#register_form  .register_div {
    position: relative;
}
form#register_form .error_register {
    position: absolute;
    right: 0;
    top: 0;
}

form#login_form  .login_div {
    position: relative;
}
form#login_form .error_login     {
    position: absolute;
    right: 0;
    top: 0;
}
.ppupclass .modal-dialog {
    max-width: 500px;
    background:unset;
    box-shadow: unset;
  }
  /* .modal-dialog {
    background: var( --background-color_3);
    box-shadow: var(--admin_base-shadow);
    border-radius: 10px;
  } */
  #exampleModal2.modal.popopacity {
    background: #ffffffd1;
  }