.confirm-button-class {
    background: #ff4e00 !important;
    border: 1px solid red !important;
}
.common_form_error .login_div {
    position: relative;
}
.common_form_error .error_login {
    position: absolute;
    top: 0;
    right: 0;
}
img.profile_upload_form.img-cicle {
    border-radius: 50px;
    height: 80px;
    width: 80px;
}