:root {
/*Website*/
--color_1: #BA8639;
--color_2: #1E1E1E;
--color_3: #BEBEBE;
--color_4: #fff;
--color_5: #333333;
--font-family_1: 'Poppins', sans-serif;

 /*background colors*/ 
 --background-color_1: #F9F9F9;
 --background-color_2: #fff0;
 --background-color_3: #ffffff;
 --background-color_4: #f1f1f1;
 --background_5: #BA8639;

/*All menu*/
--font_menu_top: 14px;
--font_menu_line_height: 21px;
--font_menu_left: 16px;
--font_menu_left_line_height: 24px;
--font_menu_bottom: 14px;
--font_weight: 400;

/*Typography */

--font_title: 14px;
--font_h1: 48px;
--font_h1_line_height:72px;

--font_h2: 36px;
--font_h2_line_height:54px;

--font_h3: 24px;
--font_h3_line_height:36px;

--font_h4: 18px;
--font_h5: 14px;
--font_h6: 12px;
 
--font_size: 14px;
--font_wt: 400;
--font_wt_b: 500;
--font_size_line_height: 21px;
--font_name: 18px;
--font_wt_name:600;
--color_name: #454545;
--line_height_name: 27px;

--font_sab_dis: 12px;
--font_sab_dis_line_height:18px;

--border_radius:7px;

 /* Section padding */
 --section_padding: 50px 0;

/*Button */

--button_border_radius:6px;
--button_font_size:14px;
--button_padding:10px 14px 10px 14px;

--banner_btn_font_size:14px;
--banner_btn_wt:500;
--banner_btn_line_height:21px;

/*form */
--input_border_radius:6px;
--input_size:10px;
--input_line_height:15;
--input_font_weight:400;

/*Table */
--font_table_title:36px;
--font_wt_table_title:700;

--font_table_heading:16px;
--font_wt_table_heading:600;

--font_table_data:14px;
--font_filter_title:16px;
--font_filter_data:12px;
  
--font_textbox_heading:14px;
--font_textbox_value:14px;


/*Chats */

--font_chat_left_name:14px;
--font_chat_left_dis:12px;
--font_chat:12px;

/*dashboard */

--font_dashboard_page_title:36px;
--font_dashboard_page_filter:16px;

--font_wt_dashboard_page_title:700;
--font_wt_dashboard_page_filter:500;


/*admin*/

--admincolor_1: #8C8C8C;
--admincolor_2: #BA8639;
--admincolor_3: #555555;

--dashboard_button_border_radius:68px; 
--dashboard_button_size:16px; 

--comments_bell:30px;
--comments_bell-mini:22px;

/*bokking*/
--booking_img_border_radius: 16px;
 
/*Shadows*/
--base-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
--admin_base-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);



/* Responsive */
--Res_font_size-small:13px;
--Res_font_size-14:14px;
--Res_font_size-normal:16px;

--Res_banner-title:30px;
--Res_mobile_banner-title:22px;


--Res_line_height:13px;
--Res_font_user:12px;
--Res_line_height_table:20px;


}

/*foter-part*/
body {
  font-family: "Poppins", sans-serif; background: var(--background-color_3) !important;
}
img{max-width: 100%;}
.user-header {
  width: 41px;
  height: 41px;
  position: relative;
  bottom: 10px;
}

.header-logo img {
  width: 154px;
}

ul.navbar-nav li a {
  font-weight: 400;
  font-size: var(--font_menu_top);
  line-height: 21px;
  color: var(--color_1) !important;
  transition: 0.6s;
}
ul.navbar-nav li a:hover {
  color: var(--color_2) !important;
}
ul.navbar-nav li a.active {
  color: var(--color_2) !important;
}
ul.navbar-nav li.nav-item {
  padding-right: 15px;
}

.bottom-border {
  border-bottom: 1px solid var(--color_1);
  padding-bottom: 0;
}

.color-bs8639 {
  color: var(--color_1);
}

h6 {
  font-weight: var(--font_wt_b);
  font-size:var(--font_h5);
  line-height:var(--font_size_line_height);
}

.font-small {
  font-weight: 400;
  font-size:var(--font_sab_dis);
  line-height:var(--font_sab_dis_line_height);
}

form.email-part input {
  width: 463px;
  height: 36px;
  background: #F1F1F1;
  border-radius: 6px;
  border: none;
  font-weight: var(--input_font_weight);
  font-size: var(--input_size);
  line-height: var(--input_line_height);
  color: var(--color_2) !important;
  padding: 0 15px;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul.ft-nav li {
  list-style: none;
  display: inline-block;
  padding: 12px 20px;
}
ul.ft-nav li a {
  font-weight: var(--font_weight);
  font-size: var(--font_size);
  line-height: var(--font_size_line_height);
  color: var(--color_1);
  text-decoration: none;
}

ul.ft-social li {
  display: inline-block;
}
ul.ft-social li a {
  color: var(--color_1);
  font-size: var(--font_name);
  padding: 0 6px;
}

.footer-part {
  padding: 50px 0;
}

::-moz-placeholder {
  color: var(--color_3);
}

::placeholder {
  color: var(--color_3);
}

.ft-top-border {
  border-top: 1px solid var(--admincolor_2);
}

@media (max-width: 991px) {
  li.nav-item {
    border-bottom: 1px solid var(--admincolor_2);
  }
  .user-header {
    bottom: 0;
  }
  ul.ft-nav li {
    padding: 8px 10px;
  }
  form.email-part input {
    width: 100%;
  }
}
.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

#body-row {
  margin-left: 0;
  margin-right: 0;
}
#sidebar-container {
    min-height: 100vh;
    background-color: var(--background-color_1);
    padding: 20px;
    position: relative;
    border-right: 1px solid #DADADA;
}



#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}

.sidebar-submenu {
  font-size: 0.9rem;
}

span.menu-collapsed {
  font-weight: 400;
  font-size: var(--font_menu_left);
  line-height: var(--font_menu_left_line_height);
  color: #8C8C8C;
  padding-left: 15px;
}

a.list-group-item {
  border: none;
  border: none;
  margin-bottom: 7px;
}
a.list-group-item span.icon-dash {
  transition: 0.6s;
}
a.list-group-item span.menu-collapsed {
  transition: 0.6s;
}
a.list-group-item:hover {
  background: rgba(186, 134, 57, 0.1);
}
a.list-group-item:hover span.icon-dash {
  color: var(--color_1);
}
a.list-group-item:hover span.menu-collapsed {
  color: var(--color_1);
}

a.list-group-item.active {
  color: var(--color_1) !important;
  background: rgba(186, 134, 57, 0.1);
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
a.list-group-item.active span.menu-collapsed {
  color: var(--color_1);
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0);
}

.list-group-item + .list-group-item {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 7px;
  padding: 15px 20px;
}
.icon-arrow {
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 1px 4px rgba(0, 0, 0, 0.24);
    width: 30px;
    height: 30px;
    border-radius: 100px !important;
    padding: 11px;
    position: absolute;
    right: -11px;
    z-index: 9;
}
.icon-arrow:hover {
  background: #fff !important;
}
.icon-arrow i {
  color: var(--color_1);
  font-size: var(--font_name);
}

.sidebar-expanded {
    width: 20%;
}
.sidebar-expanded .icon-arrow i {
  transform: rotate(0.5turn);
}

span.icon-dash {
  color: #8C8C8C;
  font-size: 20px;
  margin-bottom: -5px;
}

.active span.icon-dash i {
  color: var(--color_1);
}

.sidebar-collapsed {
  width: 10%;
}

.right-part.collapsed_section {
  width: 90%;
}

.right-part {
    width: 80%;
    background: var(--background-color_3);
}

.form-Search input {
  width: 100%;
  height: 47px;
  background: var(--background-color_4);
  border-radius: 7px;
  border: none;
  padding: 6px 13px;
  outline: none;
}

.comments-bell {
  text-align: center;
}
.comments-bell a {
  color: #555555;
  font-size: 30px;
}

.user-profile img {
    width: 56px;
    height: 56px;
    border-radius: 100px;
}
.user-profile h5 {
    font-weight: var(--font_wt_name);
    font-size: var(--font_name);
    line-height: var(--line_height_name);
    color: var(--color_name);
}
.user-profile p {
    font-weight: var(--font_wt);
    font-size: var(--font_size);
    line-height: var(--font_size_line_height);
    color:  var(--color_name);
}
.user-profile { 
    max-width: 270px;
}
.sidebar-collapsed .user-profile-collapsed {
    display: none;
}
.sidebar-collapsed 
 img {
    max-width: 56px;
    margin-bottom: 16px;
}
a.bars-icon {
    color: var(--color_1);
    font-size: 30px;
    margin: 0 7px;
}



@media (max-width:1100px) {
.user-profile h5 { 
    font-size:var(--Res_font_size-small);
    line-height: 15px; 
}
.user-profile p { 
    font-size: var(--Res_font_user);
    line-height: 11px; 
}
.user-profile img {
    width: 35px;
    height: 35px; 
}
table  th { 
    font-size: var(--Res_font_user) !important;
    line-height: var(--Res_line_height_table) !important; 
}
table td { 
    font-size: var(--Res_font_user) !important;
    line-height: var(--Res_line_height_table) !important; 
}


}


@media (max-width: 981px) {
  .sidebar-collapsed {
    width: 14%;
  }
  .right-part.collapsed_section {
    width: 86%;
  }
  span.menu-collapsed {
    font-size: var(--Res_font_size-14);
  }
  span.icon-dash {
    font-size: var(--Res_font_size-normal);
  }
  .comments-bell a {
    font-size: 22px;
    line-height: 2.2;
  }
}
@media (min-width: 768px) {
a.bars-icon{display: none;}
}
@media (max-width: 767px) {
  .list-group-item + .list-group-item {
    padding: 9px 12px;
  }
  span.menu-collapsed {
    font-size: var(--Res_font_user);
  }
  span.icon-dash {
    font-size: var(--Res_font_size-14);
    margin-bottom: 0px;
  }
  .right-part {
    width: 100%; 
}
.form-Search input { 
    height: 41px; 
}
div#sidebar-container {
    position: fixed;
    width: 250px;
    z-index: 99;
}div#sidebar-container {
    display: none;
}
.right-part.collapsed_section {
    width: 100%;
}
.sidebar-collapsed .user-profile-collapsed {
    display: unset;
}
.menu-collapsed.d-none {
    display: unset !important;
}

}
/*# sourceMappingURL=style.css.map */


/*Start......22-03-2023*/
main {
    padding: 0 2%;
}
.table-part h2 {
    font-weight: 700;
    font-size: var(--font_h2);
    line-height: 54px;
    color: var(--color_name);
}
.table-btn {
    background: var(--color_1);
    border-radius: 12px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: var(--Res_font_size-normal);
    line-height: 24px;
    color: var(--background-color_3);
    border: none;
}
.table-box {
    background:  var(--background-color_3);
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    margin-top: 2%;
    padding: 2%;
}
table  th {
    font-weight: 600;
    font-size: var(--Res_font_size-normal);
    line-height: 24px;
    color: var(--color_1);
}
table td {
    font-weight: 400;
    font-size: var(--Res_font_size-14);
    line-height: 21px;
    color: #222222;
}
table td a {
    color: #D69C1F;
}
table td a:hover {
    color: var(--color_1);
}

table tr {
    transition: 0.6s;
}
table tr:hover {
    box-shadow: 0px 3px 11px rgb(0 0 0 / 11%);
}




@media (max-width:1150px) {
.table-part h2 { 
    font-size: var(--font_h3);
    line-height: 40px; 
}
/*.table-box table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}*/

  }


@media (max-width:981px) {
.table-part h2 {
    font-size: 20px;
    line-height: 30px;
}
table  th { 
    font-size: var(--font_table_data);
    line-height: 20px; 
}
table td { 
    font-size: var(--font_filter_data);
    line-height: 19px; 
}



  }

  @media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {
 
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
   
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
   
    tr { border-bottom: 1px solid #ccc; }
  td {  
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    font-weight: 500;
    font-size: var(--font_table_data);
    line-height: 22px;
    color: var(--color_1);
}
 .table>tbody td {
    padding-left: 48%;
}
  td:nth-of-type(1):before { content: "ID"; }
  td:nth-of-type(2):before { content: "Order ID"; }
  td:nth-of-type(3):before { content: "Total Cost"; }
  td:nth-of-type(4):before { content: "Payment Details"; }
  td:nth-of-type(5):before { content: "Payment Details"; }
  td:nth-of-type(6):before { content: "Order Date"; }
  td:nth-of-type(7):before { content: "Payment Date"; }
  td:nth-of-type(8):before { content: ""; } 

}


/* Start..... Frontend Home Page */
.banner-part {
  padding: var(--section_padding);
}
.banner-text {
  margin-top: 40%;
}
.banner-part img {
  border-radius: 16px;
}
.banner-text h1 {
  font-weight: var(--font_wt_b);
  font-size: var(--font_h1);
  line-height:var( --font_h1_line_height);
  color: var(--color_5);
}
.home-page-banner-text {
  position: relative;
  right: 20%;
  width: 485px;
}
.banner-btn{margin:30px 0 0 0 ;}
.banner-btn a {
  background: var( --background_5);
  border-radius: 6px;
  padding: 10px 14px;
  font-weight: var(  --banner_btn_wt);
  font-size: var( --banner_btn_font_size);
  line-height: var(--banner_btn_line_height);
  color: var(--color_4);
}
.banner-text {
    margin-top: 40%;
}

section{  padding: var(--section_padding);}

.experience-slider h3{
  font-weight: var( --font_wt_b);
  font-size: var( --font_h3);
  line-height: var( --font_menu_left_line_height);
  color: var(--color_1);
}



.services-part h2 {
  font-weight: var(--font_wt_name);
  font-size: var(--font_h2);
    --font_h2_line_height:54px;
    --font_h2_line_height:54px;
    --font_h2_line_height:54px;
  line-height: var( --font_h2_line_height);
  text-align: center;
  color: var( --color_1);
}
.dis-max-width {
  font-weight: var(  --font_weight);
  font-size: var(  --font_title);
  line-height: var(--font_menu_line_height);
  text-align: center;
  color: var( --color_5);
  max-width: 807px;
  margin: 0 auto;
}
.card-box {
  background: var(--background-color_3);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 38px 38px 30px;
  margin-bottom: 30px;
}
.card-box h3 {
  font-weight: var(--font_wt_name);
  font-size: var( --font_h3);
  line-height: var(  --font_h3_line_height);
  color: var( --color_5);
}
.card-box p {
  font-weight: var( --font_weight);
  font-size: var(--font_sab_dis);
  line-height: var( --font_sab_dis_line_height);
  color: var( --color_5);
}
 

.text-side h2 {
  font-weight: var( --font_wt_name);
  font-size: var(--font_h2);
  line-height: var( --font_h2_line_height); 
  color: var( --color_1);

}
.text-side{
font-style: normal;
font-weight: var( --font_wt);
font-size: var(--font_size);
line-height: var(--font_menu_line_height);
color: var(--color_5);
}

.border-radius{border-radius: 16px;}

.big-48 {
    font-weight: var(--font_wt_name);
    font-size: var(--font_h1);
    line-height: var(   --font_h1_line_height);
    color: var(--color_1);
}
.num-list h4 {
  font-weight: var(--font_wt_name);
  font-size: 18px;
  line-height: 27px;
  color: var(--color_5);
} 
.num-list p {
  font-weight: var( --font_weight);
  font-size: var(--font_size);
  line-height: var(--font_size_line_height);
  color: var(--color_5);
}
.num-list {
  padding: 20px;
}

.slider-img-plase img {
  border-radius: 16px;
  width: 100%;
}
.slider-img-plase {
  position: relative;
}
.plase-btn a {
  padding: 10px 14px;
  background: #FFFFFF;
  border-radius: 6px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-weight: var(--font_wt_b);
  font-size: var(--font_size);
  line-height: var(--font_size_line_height);
  color: var(--color_1);
}
.view-more a {
  font-weight: var(--font_wt_b);
  font-size: var(--font_size);
  line-height: var(    --font_size_line_height);
  color: var(--color_1);
  padding: 10px 14px;
  border: 1px solid var(--color_1);
  border-radius: 6px;
}

.experience-slider h2 {
  font-weight: var( --font_wt_name);
  font-size: var(--font_h2);
  line-height: var(--font_h2_line_height);
  color: var(--color_1);
}

.banner-text.pages-text {
  margin-top: 27%;
  padding: 1%;
}
.border-0 {
  border-radius: 0 !important;
}
.banner-left {
  position: relative;
  left: -7%;
  bottom: 1px;
}

.step-box {
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 20px;
}
.step-box  h4 {
  font-weight: var(--font_wt_name);
  font-size: var(--font_h3);
  line-height: var(--font_h3_line_height);
  color: var(--color_5);
}
.step-box  p {
  font-weight: var(--font_wt);
  font-size: var(--font_h6);
  line-height: var(--font_h4);
  color: var(--color_5);
}
.location-how h2 {
  color: var(--color_5);
}

.customers-review img {
  width: 51px;
  height: 51px;
}
.star-review i {
  color: #BA8639;
  letter-spacing: 8px;
}
.customers-review {
  padding-left: 15%;
  padding-right: 15%;
}





@media (max-width:1150px) { 
  .home-page-banner-text {
    position: unset;
    right: unset;
    width: unset;
}
.banner-text h1 {
  font-size: var(--Res_banner-title);
  line-height: 1.4;
}
.banner-text.pages-text {
  margin-top: 15%; 
}



}

@media (max-width:991px) { 
  .banner-text h1 {
    font-size: var(--Res_mobile_banner-title); 
}
.services-part h2 {
  font-size: var(--Res_banner-title);
}
.text-side h2 {
  font-size: var(--Res_banner-title);
  line-height: 1.3;
}
.big-48 {
  font-size: var(--Res_banner-title);
}
.num-list h4{
  font-size:var(--Res_font_size-normal);
}
.experience-slider h2{
  font-size: var(--Res_banner-title);
}
.slider-img-plase {
  margin-bottom: 20px;
}
.banner-text.pages-text {
  margin-top: 13px; 
}
.customers-review { 
  margin-bottom: 30px;
}
.pages-text .banner-btn {
  margin: 23px 0 25px 0 !important;
}

}


@media (max-width:767px) { 
  .banner-text {
    margin-top: 20px;
}
.text-side h2 {
  font-size: var(--Res_mobile_banner-title); 
}
.banner-left { 
  left: 0;
  bottom: 0;
}
img.banner-left {
  margin-top: 20px;
}
.step-box {
  margin-bottom: 21px;
}
.services-part h2{
  font-size: var(--Res_mobile_banner-title);
}
.mobile-m-0 {
  margin-top: 0 !important;
}

}
.table>tbody tr td ul li{
  display: inline-block;
  flex-direction: row;
  text-align: center;
  padding: 6px 12px;
  gap: 10px;
  width: 74px;
  height: 30px;
  left: 960px;
  top: 483px;
  background: rgba(197, 138, 13, 0.1);
  border-radius: 68px;
  color: #C58A0D;
  margin-left: 10px;
}
.table>tbody tr .chefs_pic img{
  width: 37px;
  height: 37px;
  border-radius: 20px;
}