$color_1: #ba8639;
$color_2: #1e1e1e;
$color_3: #bebebe;
$font-family_1: "Poppins", sans-serif;
$font_size: 14px;
/*Start .....footer*/
/*foter-part*/
body {
  font-family: $font-family_1;
}
.user-header {
  width: 41px;
  height: 41px;
  position: relative;
  bottom: 10px;
}
.header-logo {
  img {
    width: 154px;
  }
}
ul.navbar-nav {
  li {
    a {
      font-weight: var(--font_wt);
      font-size: $font_size;
      line-height: 21px;
      color: $color_1 !important;
      transition: 0.6s;
      &:hover {
        color: $color_2 !important;
      }
    }
    a.active {
      color: $color_2 !important;
    }
  }
  li.nav-item {
    padding-right: 15px;
  }
}
.bottom-border {
  border-bottom: 1px solid #ba8639;
  padding-bottom: 0;
}
.color-bs8639 {
  color: $color_1;
}
h6 {
  font-weight: var(--font_wt_b);
  font-size: var(--font_size);
  line-height: 21px;
}
.font-small {
  font-weight: var(--font_wt);
  font-size: var(--font_h6);
  line-height: 18px;
}
form.email-part {
  input {
    width: 463px;
    height: 36px;
    background: #f1f1f1;
    border-radius: 6px;
    border: none;
    font-weight: var(--font_wt);
    font-size: 10px;
    line-height: 15px;
    color: $color_2 !important;
    padding: 0 15px;
    outline: none;
  }
}
ul {
  margin: 0;
  padding: 0;
}
ul.ft-nav {
  li {
    list-style: none;
    display: inline-block;
    padding: 12px 20px;
    a {
      font-weight: var(--font_wt);
      font-size: var(--font_size);
      line-height: 21px;
      color: $color_1;
      text-decoration: none;
    }
  }
}
ul.ft-social {
  li {
    display: inline-block;
    a {
      color: $color_1;
      font-size: 18px;
      padding: 0 6px;
    }
  }
}
.footer-part {
  padding: 50px 0;
}
::placeholder {
  color: $color_3;
}
.ft-top-border {
  border-top: 1px solid #ba8639;
}
@media (max-width: 991px) {
  li.nav-item {
    border-bottom: 1px solid #ba8639;
  }
  .user-header {
    bottom: 0;
  }
  ul.ft-nav {
    li {
      padding: 8px 10px;
    }
  }
  form.email-part {
    input {
      width: 100%;
    }
  }
}
